@{
    Layout = "_TableViewLayout";
}
@using EmaOtomasyon.Models.Customer.Response
@model List<CustomerGetModel>

<table id ="CustomerTable" class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Adres</th>
            <th scope="col">Email</th>
            <th scope="col">Telefon Numarası</th>
            <th scope="col">Durum</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var customer in Model)
            {
                <tr>
                    <th scope="row">@customer.RecordId</th>
                    <td>@customer.Name</td>
                    <td>@customer.Surname</td>
                    <td>@customer.Address</td>
                    <td>@customer.Email</td>
                    <td>@customer.PhoneNumber</td>
                    <td>
                        @if (customer.Status)
                        {
                            <span class="badge badge-success">Aktif</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">Pasif</span>
                        }
                    </td>
                    <td>
                        <!-- İşlemler için dropdown menü -->
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                İşlemler
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Customer" asp-action="Update" asp-route-recordId="@customer.RecordId">Güncelle</a>
                                <form asp-controller="Customer" asp-action="Delete" method="post">
                                    <input type="hidden" name="CustomerId" value="@customer.RecordId" />
                                    <button type="submit" class="dropdown-item">Sil</button>
                                </form>
                                <!-- Başka işlemleri ekleyebilirsiniz -->
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">Veri bulunamadı.</td>
            </tr>
        }
    </tbody>
</table>
